@CHARSET "UTF-8";

/*----- Général -----*/

html, body {
	
}

.erreur {
	color: #FF0000;
}

/*----- mainTemplate -----*/
#content {

}
	/*----- Head -----*/

#entete {
	display: inline;
	color : #5599EE;
}
#entete img {
	width: 100px;
	height: 60px;
}
	/*----- Navigation -----*/
#navigation {
	color: #5599EE;
	float: left;
	width: 18%; 
	height: 100%;
}
#visiteur_connecte {
	margin-bottom: 25px;
}

/*----- Pages -----*/

.contenu {
	width: 80%;
	float: left;
	background-color: #77AADD;
	padding-left: 5px;
	margin : 10px 2px 2px 2px;
	color:white;
}

	/*----- Connexion_v -----*/

#bloc-connexion {
	/*Bloc*/
	width: 500px;
	margin: auto;
	background-color: #77AADD;
	padding: 5px 0 25px 0;
	/*Texte*/
	color: #FFF;
	text-align: center;
}
#bloc-connexion input { 
	width: 180px;
}
#bloc-connexion input[type=submit] {
	margin-top: 10px;
	width:100px
}
	/*----- consulterRapports_v -----*/